/* Gruvbox Dark Material colors */
@define-color background #1d2021;
@define-color background-alt #282828;
@define-color background-soft #32302f;
@define-color surface #3c3836;
@define-color surface-alt #504945;
@define-color text #fbf1c7;
@define-color text-alt #d5c4a1;
@define-color borders #665c54;
@define-color focused #d79921;
@define-color focused2 #fabd2f;
@define-color color1 #83a598;
@define-color color2 #d3869b;
@define-color color3 #b8bb26;
@define-color urgent #fb4934;
@define-color warning #fe8019;


/* font declared */
* {
    font-family: "Iosevka Nerd Font";
    font-size: 15px;
}

/* waybar window styles */
window#waybar.hidden {
    opacity: 0.2;
}
window#waybar.empty #window {
    background-color: transparent;
}


/* full taskbar without gaps */
window#waybar {
    background-color: @background;
    border: none;
    border-radius: 0;
}

.modules-left {
    margin: 0;
    padding: 4px 15px;
    background-color: @background;
    border: none;
    border-radius: 0;
}
.modules-center {
    margin: 0;
    padding: 4px 20px;
    background-color: @background;
    border: none;
    border-radius: 0;
}
.modules-right {
    margin: 0;
    padding: 4px 15px;
    background-color: @background;
    border: none;
    border-radius: 0;
}


/* whats this?? */
button {
  border: none;
}


/* left island */

/* menu panel */
#custom-arch,
#custom-powerprofile,
#custom-themeswitcher,
#custom-updates{
    padding: 0 8px;
    margin: 0 1px;
    font-size: 15px;
    border-radius: 0;
    transition: all 0.3s ease;
    background-color: @surface;
    border: 1px solid @borders;
    color: @text;
}
#custom-arch:hover {
    color: @color1;
}
#custom-powerprofile:hover{
    color: @color1
}
#custom-themeswitcher:hover {
    color: @color1;
}

/* workspace panel */
#workspaces button {
    padding: 4px 8px;
    margin: 0 2px;
    background-color: transparent;
    color: @text;
    border-radius: 0;
    transition: all 0.3s ease;
    min-width: 20px;
    border: none;
}
#workspaces button:hover {
    background-color: transparent;
    color: @focused;
}
#workspaces button.active {
    color: @focused;
    background-color: transparent;
    border: none;
}
#workspaces button.urgent {
    background-color: transparent;
    color: @urgent;
}

/* no idea what this does */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* media player */
#mpris {
    margin: 0 0 0 5px;
    padding: 0 9px ;
    background-color: @background;
    color: @text;
}
#mpris.playing {
    background-color: @color3;
    border-radius: 2px;
    color: @background;
}


/* center module  */
#window{
    padding: 0 10px;
    font-weight: 500;
    color: @text;
}

/* Right Island */

/* module general styles */
#clock,
#battery,
#cpu,
#memory,
#custom-clipboard,
#bluetooth,
#network,
#custom-notification {
  padding: 0 12px;
  margin: 0 1px;
  border-radius: 0;
  transition: all 0.3s ease;
  background-color: @surface;
  border: 1px solid @borders;
  color: @text;
}
#clock:hover,
#battery:hover,
#custom-cpu:hover,
#custom-clipboard:hover,
#custom-bluetooth:hover,
#network:hover,
#idle_inhibitor:hover,
#custom-swaync:hover,
#backlight:hover,
#wireplumber:hover{
    color: @color1;
}
#idle_inhibitor{
  padding: 0 8px;
  margin: 0 2px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
#custom-powerprofile{
  padding: 0 8px 0 4px;
}
/* Remaining Modules */
#backlight,
#wireplumber{
    padding: 0 5px;
}
#wireplumber.muted {
  background-color: @color2;
}
#custom-swaync {
    padding: 0 8px;
    margin: 0 2px;
    font-size: 16px;
    color: @text;
    border-radius: 6px;
    transition: all 0.3s ease;
}
#battery.charging,
#battery.plugged {
  background-color: @focused2 ;
  color: @background;
}
#battery.critical:not(.charging) {
  background-color: @urgent;
  color: @text;
  animation: blink 0.5s steps(12) infinite alternate;
}
@keyframes blink {
  to {
    background-color: @second-background;
    color: @text;
  }
}
